@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../public/fonts/style.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  background-color: #e4e4e4;
  font-size: 16px;
  cursor: url("../public/image/Icons/cursor.svg"), default;
}

body {
  background-color: #e4e4e4;
  color: #222;
  direction: rtl;
  font-family: "IRANSansX";
  font-size: 16px;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
input {
  outline: none;
  background-color: #ddf;
  color: #222;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.hex {
  position: relative;
  border-radius: 10px;
  z-index: 20;
  transform-origin: center;
}

.telegram {
  color: #29aaec;
}
.aparat {
  color: #ed165a;
}
.youtube {
  color: #ff0201;
}
.reddit {
  color: #ff4500;
}
.twitter {
  color: #55acef;
}
.discord {
  color: #5865f2;
}
.linkdin {
  color: #0077b7;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: #bbaffad2;
}
::-webkit-scrollbar-thumb {
  background: #4430ab99;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4430ab;
}
::-webkit-scrollbar-track:hover {
  background: #ac9cfe;
}
